
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gutim | Template</title>
    

        {% block stylesheets %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}" type="text/css">
  
</head>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



   
                 <!-- Header Section Begin -->
    <header class="header-section">
             {% block Header %}
             
            <div class="nav-menu">
            
                <nav class="mainmenu mobile-menu">
            
                
                    <ul>
                        
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href=" asset('./about-us.html')">About</a></li>
                        <li><a href="./classes.html">Classes</a></li>
                        <li><a href="#">boutique</a></li>
                        <li><a href="./gallery.html">Evennement</a></li>
                        <li><a href="#">Reclamtion et contacts</a></li>
                    </ul>
                </nav>
                <a href="#" class="primary-btn signup-btn">Sign Up Today</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
        
  
        
          {% endblock %}

    </header>

    <!-- Hero Section Begin -->
   <section class="hero-section set-bg" data-setbg="{{ asset('front/img/hero-bg.jpg')}}">
              {% block body %}

       
                          {% endblock %}

    </section>
    <!-- Hero Section End -->


    <!-- Latest Blog Section End -->
            {% block footer %}


   

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>(216) 52 711 292</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>Ghazela-Ariana Rue de confort ,2083</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>X-SHAPE@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg" data-setbg="{{ asset('front/img/footer-signup.jpg')}}">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
           
                <div class="footer-social">
                 
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

            {% endblock %}

        {% block javascripts %}
       
    <!-- Js Plugins -->
    <!-- Vendor JS Files Front -->
    <script src="{{ asset('front/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ asset('front/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('front/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ asset('front/js/mixitup.min.js')}}"></script>
    <script src="{{ asset('front/js/jquery.slicknav.js')}}"></script>
    <script src="{{ asset('front/js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('front/js/main.js')}}"></script>
     {% endblock %}
 {% endblock %}

</html>
